{% extends "layout.html" %}
{% set active_page = "users" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="btn-group my-3 col-8" role="group" aria-label="User Actions">
            <a href="{{url_for('create_user')}}" id="create" class="btn btn-secondary">Create</a>
            <button type="button" id="edit" class="btn btn-secondary" disabled>Edit</button>
            <button type="button" id="delete" class="btn btn-secondary" disabled data-toggle="modal"
                    data-target="#deleteModal" data-page="User">Delete
            </button>
        </div>
        <div class="col-4 my-3">
            <input type="search" id="searchField" value="" class="form-control" placeholder="Search">
        </div>
    </div>
</div>
<div class="container-fluid">
    <style>
         table { table-layout: fixed; }
         table th, table td { overflow: hidden; }

    </style>
    <table class="table table-hover" id="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 10%">#</th>
            <th scope="col" style="width: 30%">User First Name</th>
            <th scope="col" style="width: 30%">User Last Name</th>
            <th scope="col" style="width: 30%">User Email</th>
        </tr>
        </thead>
        <tbody>
        {%for user in all_users %}
        <tr class="clickable-row" style="cursor:pointer" id="{{user.id}}" data-hidden="true" data-id="{{user.id}}">
            <th scope="row">{{loop.index}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%}